{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="float:left ; width: 200px;">
    <img src="{%static 'images/testimg.jpg'%}" alt="no image found" height="150px" width="150px">
</div>
    <p>
        <b> NEETHU TS </b><br><br> Pookkodath house <br> chulliyode po <br>
        Wayanad <br> pin:673592 <br><br>
        email: neethuthayyil@gmail.com <br> mob:9526478893

    </p>
<br><br>
<h3><u> PROGRAMMING LANGUAGES</u></h3>
<ul>
    <li>C</li>
    <li>C ++</li>
    <li>Java</li>
    <li>Pascal</li>
    <li>COBOL</li>
</ul>
<br>
<h3>OBJECT ORIENTED PROGRAMMING LANGUAGES</h3>
<ol>
    <li>c++</li>
    <li>Java</li>
    <li>Ada</li>
    <li>Fortran</li>
</ol><br>
<dl>
    <dt>GECI</dt>
    <dd>-Painavu,Idukki</dd>
    <dt>PHSS</dt>
    <dd>-Pavandoor,Calicut</dd>
    <dt>GHSS</dt>
    <dt> -Narikkuni,Calicut</dt>
</dl>
<br><br>
<h2>Time Table</h2>
<table border="5" cellspacing="1px" cellpadding="1px" >
    <tr>
        <th colspan="6">Time Table</th>
    </tr>
    <th rowspan="6">1Hour <br><br> for each period</th>
    <th> Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
<tr>
    <td>C</td>
    <td>C++</td>
    <td>Java</td>
    <td>Pascal</td>
    <td>COBOL</td>
</tr>
<tr>
    <td>Java</td>
    <td>English</td>
    <td>COBOL</td>
    <td>Pascal</td>
    <td>Fortran</td>
</tr>
<tr>
    <td align="center" colspan="5"> Lunch</td>
</tr>
<tr>
    <td>C</td>
    <td>C++</td>
    <td>Pascal</td>
    <td>Java</td>
    <td rowspan="2">Project</td>
</tr>
<tr>
    <td>Java</td>
    <td>Pascal</td>
    <td>COBOL</td>
    <td>C++</td>
</tr>
</table>
</body>
</html>